#espacamento {
    height: 35px;
}

@font-face {
    font-family: 'IndieFlower';
    src: url(../fonts/IndieFlower-Regular.ttf);
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

a.brand,
.title {
    font-family: 'IndieFlower';
    color: rgb(23, 128, 248);
}

.title {
    font-size: 10vw;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.gallery {
    margin: 1px;
    //border: 1px solid #ccc;
    float: left;
    width: 500px;
    background-color: whitesmoke;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery,
.gallery img {
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

input,
textarea,
button {
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

label {
	display: block;
	cursor: pointer;
}

input {
	width: 20em;/* pode ser porcentagem - % */
}

textarea {
	width: 20em;/* pode ser porcentagem - % */
	height: 10em;
}

input.radio {
	width: auto;
}

.radio {
	margin-right: 1em;
}